{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hotel Finder</title>
    <link rel="stylesheet" href="../static/app/style.css" />
    <script
      src="https://kit.fontawesome.com/37ffca5ce3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="container headerspread">
        <div class="logo">
          <a href="/">
            <img src="../static/app/logo.png" alt="" />
          </a>
        </div>
        <nav>
          <a href="/"> <i class="fas fa-home"></i> | Home </a>
        </nav>
      </div>
    </header>
    {%block content%} {%endblock%}
  </body>
</html>
