{% extends "app/base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property ONE
        </div>
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property TWO
        </div>
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property THREE
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property FOUR
        </div>
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property FIVE
        </div>
        <div class="col-sm-4">
            <img src="sarasa.jpg" height="100px" width="100px"> <br>
            Property SIX
        </div>
    </div>
</div>





{% endblock %}