@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #0a38d7;
  width: 100%;
  border-bottom: 30px;
  border: 30px white;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.headerspread {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.logo img {
  max-width: 150px;
}
.heroSearch {
  width: 100%;
  height: 300px;
  background: url("./back01.jpg");
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.searchForm {
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
}

.propgrid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(3, 400px); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding-top: 30px;
  padding-bottom: 70px;
}
.propimage {
  max-height: 200px;
  overflow: hidden;
}
.propimage img {
  max-width: 100%;
}
.propdata {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.proptitle {
  grid-column: 1 / -1;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.propprice {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}
.pdetail {
  color: rgba(0, 0, 0, 0.5);
}
.price {
  font-size: 2.2em;
}
.price i {
  font-size: 0.5em;
  top: -5px;
  position: relative;
}
.picolor {
  margin-right: 7px;
  color: #0a38d7;
}
.propcard {
  background-color: lightgrey;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

a.button {
  text-decoration: none;
  display: block;
  background: green;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
a.button:hover {
  background: darkgreen;
}

.propheroimage {
  height: 300px;
  overflow: hidden;
}
.propheroimage img {
  width: 100%;
  position: relative;
  top: -150px;
}

.propbigtitle {
  margin: 20px 0px;
  display: block;
  font-size: 3em;
  font-weight: regular;
  text-transform: uppercase;
}
.bookform {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0px;
  margin-left: 15px;
}
.pdescription {
  margin-bottom: 20px;
}
.message {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.success {
  background-color: lightblue;
}
.fail {
  background-color: lightcoral;
}
.bookform button {
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  background-color: #0a38d7;
  width: 200px;
}
.heroSearch button {
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  background-color: #0a38d7;
  width: 100%;
}
.formbutton,
.filterPrice {
  margin-top: 10px;
  grid-column: 1/-1;
}

.heroSearch input {
  font-size: 1.2em;
}

.formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
